* {
  margin: 0px;
  padding: 0px;
  /* max-width: 100%; */
    /* overflow-x: hidden; */
}
.searchbar {
  position: relative;
  width: 75vw;
  height: 58px;
  left: 212px;
  top: 26px;
  background: #e8e8e8;
  box-shadow: 0px 6px 4px rgba(145, 145, 145, 0.25);
  border-radius: 100px;
}
.searchbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 10px;
}

.searchbar ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 64px;
  transition: all 0.3s linear;
  /* margin-top: 10px; */
}
.searchbar ul li:hover {
  cursor: pointer;
  color:#FFD523;
}
.logo {
  width: 66px;
  left: 50px;
}
.btn {
  background: #f3d306;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 80px;
  cursor: pointer;
  /* font-weight: bold; */
  font-family: "Inter";
  font-size: 16px;
}
.btn:hover {
  font-weight: bold;
}
.search {
  position: relative;
  width: 425px;
  height: 56px;
  left: 147px;
  top: 308px;
  background: #efebeb;
  border-radius: 100px;
}
